<ul>
  <li>Refreshed by jquery</li>
  <li>Refreshed by jquery</li>
  <li>Refreshed by jquery</li>
  <li>Refreshed by jquery</li>
  <li>Refreshed by jquery</li>
  <li>Refreshed by jquery</li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<button onclick="loadAjax();">Load</button>

<div id="update">

</div>
